---
import LayoutBase from "@/layouts/LayoutBase.astro";
import "@/styles/globals.css";
import setadireita from "../assets/seta.png";
import estufa from '../assets/estufa.png'
import robo from '../assets/robo.png'
import programadores from '../assets/programador-removebg-preview.png'
import ides from '../assets/ides.jpeg'
---

<LayoutBase>
    <div class="card">
        <h1>Estufa Automática</h1>
        <div class="foto">
            <img class="foto-folha" src={estufa.src} alt="" />
        </div>
        <button class="btn-projeto"
                ><a href="/projeto-estufa"
                    ><img class="foto-card"
                        class="logoif"
                        src={setadireita.src}
                        alt="Seta apontando para a direita."
                    /></a
                ></button
            >
    </div>
    <div class="card green">
        <h1>Robô de <i>Lego</i></h1>
        <div class="foto">
            <img class="foto-folha" src={robo.src} alt="" />
        </div>
        <button class="btn-projeto"
                ><a href="/projeto-robo"
                    ><img class="foto-card"
                        class="logoif"
                        src={setadireita.src}
                        alt="Seta apontando para a direita."
                    /></a
                ></button
            >
    </div>
    <div class="card bronw">
        <h1>Turma IDES31</h1>
        <div class="foto">
            <img class="foto-folha" src={ides.src} alt="" />
        </div>
        <button class="btn-projeto"
                ><a href="/turma"
                    ><img class="foto-card"
                        class="logoif"
                        src={setadireita.src}
                        alt="Seta apontando para a direita."
                    /></a
                ></button
            >
    </div>
    <div class="card red">
        <h1>Programadores</h1>
        <div class="foto">
            <img class="foto-folha" src={programadores.src} alt="" />
        </div>
        <button class="btn-projeto"
                ><a href="/quem-somos"
                    ><img class="foto-card"
                        class="logoif"
                        src={setadireita.src}
                        alt="Seta apontando para a direita."
                    /></a
                ></button
            >
    </div>
</LayoutBase>
